.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    z-index: 1000;
    transition: opacity 0.65s ease;
    opacity: 0;
}

.notification.show {
    opacity: 1;
}

.notification.success {
    background-color: #28a745;
}

.notification.error {
    background-color: #dc3545;
}

.notification.info {
    background-color: #dcc335;
}

.hidden {
    display: none;
}