body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    max-width: 600px;
    margin: 0 auto 20px auto;
    background-color: #007BFF;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.nav-list li {
    display: inline;
}

.nav-list li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-list li a:hover {
    color: #f1f1f1;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-top: 10px;
    display: block;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.component {
    display: flex;
    margin-bottom: 10px;
}

.componentName {
    flex: 2;
    margin-right: 10px;
}

.componentQuantity {
    flex: 1;
    margin-right: 10px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#submitBtn {
    background-color: #2ea44f;
}

#submitBtn:hover {
    background-color: #2c974b;
}

.removeBtn {
    background-color: #dc3545;
}

.removeBtn:hover {
    background-color: #c82333;
}

.ranking-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 20px auto;
}

/* Estilização dos itens do ranking */
.ranking-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #007BFF, #00C6FF);
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}

/* Estilo do ranking ao hover */
.ranking-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 123, 255, 0.3);
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .ranking-item {
        font-size: 16px;
        padding: 12px 15px;
    }
}

@media (max-width: 480px) {
    .ranking-item {
        font-size: 14px;
        padding: 10px 12px;
    }
}